<?xml version="1.0" encoding="ISO-8859-1"?>
<bellsystem>
	<settings>
		<length>3</length>
		<device>/dev/ttyUSB0</device>
		<method>command</method>
		<command>echo "Hello World!"</command>
		<gpio_pin>4</gpio_pin>
		<start>20120101</start>
		<end>20121231</end>
	</settings>
	<calendar>
		<default>
			<exec></exec>
			<exec></exec>
			<exec></exec>
			<exec></exec>
			<exec></exec>
			<exec></exec>
			<exec></exec>
		</default>
		<quiet>
		</quiet>
		<override>
		</override>
	</calendar>
	<schedules>
	</schedules>
</bellsystem>
