[Unit]
Description=BellSystem

[Service]
ExecStart=/usr/bin/bellsystem-daemon -f -c /usr/share/webapps/bellsystem/config.xml

[Install]
WantedBy=multi-user.target
